<?xml version='1.0' encoding='UTF-8'?>
<{% if (widget) { %}widget{% } else { %}operator{% }%} xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="{%= vendor %}" name="{{%= widget_name %}" version="{%= version %}">
<details>
  <title>{%= project_name %}</title>
  <homepage>{%= homepage %}</homepage>
  <authors>{%= author_name %}</authors>
  <email>{%= author_email %}</email>
  <image></image>
  <smartphoneimage></smartphoneimage>
  <description>{%= description %}</description>
  <longdescription>DESCRIPTION.md</longdescription>
  <changelog>doc/changelog.md</changelog>
  <doc>doc/index.md</doc>
  <license>{%= licenses %}</license>
  <issuetracker>{%= bugs %}</issuetracker>
</details>
{% if (ngsi || true) { %}
<requirements>
  {% if (ngsi) { %}<feature name="NGSI">{% }%}
</requirements>
{% }%}
<preferences>
</preferences>
<wiring>
</wiring>
{% if (widget) { %}
<contents src="index.html"/>
<rendering height="47" width="10"/>
{% } else { %}
<scripts>
  <script src="js/main.js"/>
</scripts>
{% }%}
</{% if (widget) { %}widget{% } else { %}operator{% }%}>
